@font-face {
    font-family: "islandmoment";
    src: url(./fuentes/IslandMoments-Regular.ttf);
    

}

h1 {

    color: yellow;
}
h2 {
    color: aqua;
}
    .cuadrado 
{
width: 200px;
height: 200px;
background-color: brown;
}

    .cuadrado2 
{
width: 200px;
height: 200px;
background-color: rgb(13, 1, 1);
}

    .independiente

{
    width: 500px;
    height: 500px;
    background-image: url(./imagenes/channels4_profile.jpg);
    background-size: contain;

}
        .parrafo1 {

    margin-top:100px ;
    margin-right: 20px;
    margin-bottom:30px ;
    margin-left: 40px;

    border: 5px solid rgb(23, 228, 105);

    padding: 50px;

}

p{

    font-family: "islandmoment";

}